* {
  margin: 0;
}

body {
  background: rgb(35, 102, 133);
}

.container {
  display: flex;
  justify-content: center;
}
.container > h1 {
  padding: 2rem;
  background: white;
  margin-top: 5rem;
  border-radius: 0.5rem;
  min-width: 30rem;
}
