* {
  margin: 0;
}

body {
  background: rgb(35, 102, 133);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background: white;
  max-width: 50rem;
  margin: 5rem auto;
  border-radius: 0.5rem;
  align-items: start;
  padding: 2rem;
}
